.register-page {
  background-image: url(https://img.lovepik.com/background/20211022/large/lovepik-simple-geometric-business-background-image_402009661.jpg);
  width: 100vw;        /* Chiều rộng đầy đủ của màn hình */
  height: 100vh;       /* Chiều cao đầy đủ của màn hình */
  background-size: cover; /* Đảm bảo ảnh phủ toàn bộ phần tử */
  background-position: center center; /* Đảm bảo ảnh được căn giữa */
  background-repeat: no-repeat; /* Không lặp lại ảnh nền */
}
