<div class="overflow-y-auto h-full">
  <h1 class="w-4/5 text-center text-4xl font-bold mt-8">QUẢN LÝ NHÀ KHO</h1>
  <!-- Header -->
  <div class="flex justify-between w-4/5">
    <!-- Search Input -->
    <div>
      <div class="flex items-center space-x-2 mt-8">
        <input
          type="text"
          id="searchInput"
          [(ngModel)]="searchTerm"
          placeholder="Nhập tên nhà kho"
          class="p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 ml-1"
        />
        <button class="p-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none"><i class="fa-solid fa-magnifying-glass mr-2"></i>Tìm kiếm</button>
      </div>
    </div>
    <!-- Button Export Report and Create Product -->
    <div class="flex justify-end mt-8">
      <!-- Export Report -->
      <div class="relative group">
        <button class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 z-40">Xuất báo cáo</button>
        <!-- Dropdown options -->
        <div class="absolute left-0 mt-2 w-32 bg-white border border-gray-300 rounded shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-200">
          <button class="w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100 z-40"><i class="fa-regular fa-file-pdf mr-2 text-red-500"></i>PDF</button>
          <button class="w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100 z-40"><i class="fa-regular fa-file-excel mr-2 text-green-500"></i>EXCEL</button>
        </div>
      </div>
      <!-- Create Product -->
      <button class="px-4 py-2 text-white rounded-md bg-blue-600 hover:bg-blue-700 hover:text-white ml-4 -mr-40" (click)="openCreateModal()">Thêm nhà kho</button>
    </div>
  </div>
  <!-- Product Table -->
  <table class="w-11/12 h-fit table-auto mt-8">
    <thead class="bg-gray-100 top-0">
      <tr>
        <th class="px-4 py-2 text-center text-sm font-semibold text-gray-600">Mã nhà kho</th>
        <th class="px-4 py-2 text-center text-sm font-semibold text-gray-600">Tên</th>
        <th class="px-4 py-2 text-center text-sm font-semibold text-gray-600">Địa chỉ</th>
        <th class="px-4 py-2 text-center text-sm font-semibold text-gray-600">SĐT</th>
        <th class="px-4 py-2 text-center text-sm font-semibold text-gray-600">Sức chứa</th>
        <th class="px-4 py-2 text-center text-sm font-semibold text-gray-600">Ngày tạo</th>
        <th class="px-4 py-2 text-center text-sm font-semibold text-gray-600">Ngày sửa</th>
        <th class="px-4 py-2 text-center text-sm font-semibold text-gray-600">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let warehouse of warehouses" class="border-b">
        <td class="px-4 py-2 text-center text-sm text-gray-800">{{ warehouse.id }}</td>
        <td class="px-4 py-2 text-center text-sm text-gray-800">{{ warehouse.name }}</td>
        <td class="px-4 py-2 text-center text-sm text-gray-800">{{ warehouse.address }}</td>
        <td class="px-4 py-2 text-center text-sm text-gray-800">{{ warehouse.phone }}</td>
        <td class="px-4 py-2 text-center text-sm text-gray-800">{{ warehouse.capacity }}</td>
        <td class="px-4 py-2 text-center text-sm text-gray-800">{{ formatDate(warehouse.createdAt) }}</td>
        <td class="px-4 py-2 text-center text-sm text-gray-800">{{ formatDate(warehouse.updatedAt) }}</td>
        <td class="px-4 py-2 text-center text-sm text-gray-800">
          <i class="fa-solid fa-trash ml-4 text-red-600 hover:cursor-pointer" (click)="handleDeleteWarehouse(warehouse.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Create Product -->
<div *ngIf="isCreateModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-20">
  <div class="bg-white p-6 rounded-lg w-1/3 z-30">
    <h2 class="text-2xl font-semibold mb-4 text-center">THÊM NHÀ KHO</h2>
    <form (ngSubmit)="handleCreateWarehouse()" #createProductForm="ngForm">
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Tên</label>
        <input [(ngModel)]="newWarehouse.name" name="name" class="w-full p-2 border border-gray-300 rounded-md" required />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Địa chỉ</label>
        <input [(ngModel)]="newWarehouse.address" name="image" class="w-full p-2 border border-gray-300 rounded-md" required />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">SĐT</label>
        <input [(ngModel)]="newWarehouse.phone" name="description" class="w-full p-2 border border-gray-300 rounded-md" required />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Sức chứa</label>
        <input [(ngModel)]="newWarehouse.capacity" name="price" type="number" class="w-full p-2 border border-gray-300 rounded-md" required min="0" />
      </div>
      <div class="flex justify-end">
        <button type="submit" [disabled]="!createProductForm.valid" class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded-md hover:cursor-pointer">Thêm</button>
        <button type="button" (click)="closeCreateModal()" class="px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-red-500 hover:text-white ml-4">Hủy</button>
      </div>
    </form>
  </div>
</div>
