<div class="forgot-password-page min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-lg w-96">

    <!-- Form Nhập Email -->
    <div>
      <h2 class="text-2xl font-semibold text-center mb-6">QUÊN MẬT KHẨU</h2>
      <form (ngSubmit)="onSubmitEmail()" #emailForm="ngForm">
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
          <input
            [(ngModel)]="usernameOrEmail"
            name="email"
            type="email"
            id="email"
            required
            placeholder="Nhập email"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        </div>
        <button
          type="submit"
          [disabled]="emailForm.invalid"
          class="w-full py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
          Gửi
        </button>
      </form>
    </div>

